<div>
    <h1>Result</h1>
    <h2>Your url</h2>
    <span id="original_url"><%= @url.original_url %></span>
    <h2>Your shortened url<h2>
    <span id="short_url"><%= redirect_url(@url.short_url) %></span>
</div>