<div class="card-container table">
    <h1>Top 100 Most Frequented Links</h1>
    <table>
        <tr>
            <th>Top</th>
            <th>Number of Access</th>
            <th>Title</th>
        </tr>
        <% @urls.each do |url| %>
        <tr>
            <th><%= @counter %></th>
            <th><%= url.access %></th>
            <th><%= link_to((url.title || url.original_url), redirect_path(url.short_url)) %></th>
        </tr>
        <% @counter+=1 %>
        <% end %>
    </table>
</div>